.p-movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;

  .m-movie-info {
    margin-bottom: 2rem;
    transform: translate(-10%, 10%);

    @include sp {
      transform: translate(-12%, 10%);
    }
  }
}
