.p-movie-details {
  $card: '.a-card';

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  text-align: center;

  .m-movie-info {
    margin-bottom: 2rem;
    transform: translate(-7%, 10%);

    @include sp {
      transform: translate(-9%, 10%);
    }
  }

  .a-card {
    background: unset;
  }

  .a-card .a-button {
    top: 0;
    right: -8.5rem;
    bottom: unset;
  }
}
