.p-movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  text-align: center;

  .m-movie-info {
    margin-bottom: 2rem;
    transform: translate(-7%, 10%);
  }
}
