/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.m-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
  padding-left: 2rem;

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    padding-top: 1.7rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 0.75rem;
    overflow-x: scroll;
    overflow-y: hidden;

    @include sp {
      flex-direction: column;
      row-gap: 15px;
    }
  }

  &__link {
    pointer-events: none;
  }

  .a-heading {
    margin-top: 1.8rem;
    font-size: 2rem;
    font-weight: 700;
    color: $color-white;
  }

  @include sp {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
