.o-movies {
  padding: 0 20px;

  &__title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: transparent;
    cursor: pointer;
    background-image: linear-gradient(60deg, #e21143, #ffb03a);
    background-clip: text;

    &:hover {
      color: transparent;
      background-image: linear-gradient(60deg, #ac1034, #efcc98);
      background-clip: text;
    }
  }
}
