/* stylelint-disable selector-class-pattern */
.a-button {
  $root: &;

  position: absolute;
  cursor: pointer;

  &__heart {
    position: relative;
    width: 20px;
    height: 20px;
    pointer-events: all;
    background-color: $color-primary-red;
    transform: rotate(45deg);
    animation: heart-beat 1.2s infinite;
    backface-visibility: hidden;

    &:before,
    &:after {
      position: absolute;
      width: 20px;
      height: 20px;
      content: '';
      background-color: $color-primary-red;
      border-radius: 50%;
    }

    &:before {
      left: -10px;
    }

    &:after {
      transform: translate(-10px, -10px);
    }

    &:hover {
      animation: none;

      #{$root}__message {
        display: block;
      }

      span {
        position: absolute;
        top: -50px;
        left: 11px;
        width: max-content;
        font-size: 12px;
        font-weight: bold;
        color: $color-primary-purple;
        transition: display 0.5s ease-in-out;
        transition-delay: 1s;
        transform: rotate(316deg);
      }
    }
  }

  &__message {
    display: none;
  }
}
